@{
    ViewData["Title"] = "About";
}

<div class="container px-1 px-lg-7">
    <h1 class="display-2 text-center py-3">About Blink</h1>
    <p class="fs-5 pb-4">Diversity and inclusion is a topic regularly discussed in boardrooms around the world. Companies are scrambling
        to promote more equitable working conditions for people of colour, women, LGBTQ+, etc. Disability
        is repeatedly ignored.</p>
    <p class="fs-5 pb-4">Companies are either prepared to hire those with disabilities but have little to no systems and controls in place
        to allow for an easy ride, or else they outright reject applications based solely on there being 'more qualified'
        candidates available.</p>
    <p class="fs-5 pb-4">This means that for most people with disabilities they may be one of few or even the only person with their
        circumstances at the organisation.</p>
    <p class="fs-5 pb-4">When this happens, it can be difficult to find solutions to common problems and develop solutions to allow the
        employee to advance through the company at the same rate as their able-bodied colleagues.</p>
    <p class="fs-5 pb-4">This unnamed site aims to address this problem first and foremost. We aim to provide an area for discussion where
        blind people can share ideas on best working practice, how to balance work and life commitments, or even how to land that all-important
        first interview.</p>
    <p class="fs-5">A future roadmap is being drawn up and we will have more information on this shortly. For now, please feel free to enjoy
        the site, post whatever questions you wish whilst observing our Forum Rules, and enjoy yourself.</p>
</div>