@{
    ViewData["Title"] = "Rules";
}
<div class="container px-3 px-lg-7">
    <h1 class="display-2 text-center py-3">Forum Rules</h1>
    <p class="fs-5 pb-4">The below govern your use of the site, and constitute your rights as both poster and
        consumer of content. Please be sure to keep them in mind when posting and browsing our content. Our moderators
        possess a very specific set of skills. If you break any of these terms below, they will find you, and they will delete you.</p>
    <h2 class="display-6 text-center pb-3">We operate a zero judgement, zero harassment policy</h2>
    <p class="fs-5 pb-4">This should go without saying, but any harassment of any individual on the site for any reason, either by an individual
        or group, coordinated or otherwise, will not be tolerated. Evidence of such activity will result in an immediate ban from the site. Likewise
        it is wise to remember that all people with visual impairments have their own circumstances, preferences, likes, dislikes and anxieties. When
        posting in response to questions, it is essential you remember a person's skills, confidence levels and behavioural patterns may be vastly different
        to your own. We aim to welcome people of all backgrounds, abilities and disabilities to our site, and will not tolerate anyone who intimidates others
        for a lack of skill, experience or confidence. Anyone found to be doing so will be given a formal warning, with a second offence resulting in a ban,
        either temporary or permanent as determined by our moderators.</p>
    <h2 class="display-6 text-center pb-3">Respect your employer's confidentiality policies</h2>
    <p class="fs-5 pb-4">The forum is a place to ask questions about how to manage blindness effectively, including in situations pertaining to the workplace.
        We therefore advise you to anonymise posts where applicable, to remove all confidential information and employer IP before posting. If you are unable to
        comply, we advise you reframe from posting your question on a public forum.</p>
    <h2 class="display-6 text-center pb-3">Don't post without permission</h2>
    <p class="fs-5 pb-4">We strongly advise that any and all permission is sought before you post any content you do not own, including but not limited to compliance
        with copyright and trademark legislation both in the jurisdiction where the site is hosted, [insertLater] and your current country of residence as stated on your
        profile. Likewise you are forbidden from posting any personal information besides your own, without permission of the person this data pertains to. We also strongly
        advise against posting any information deemed as personally identifiable, regardless of whether permission has been sought or not.</p>
    <h2 class="display-6 text-center pb-3">Remember to be inclusive</h2>
    <p class="fs-5 pb-4">This is a site for people with visual impairments, however please remember no two eye conditions are alike. People may also have additional
        disabilities they may not have disclosed. We therefore state that all images posted be accompanied with meaningful descriptions of their contents, and that all
        video embed content be assessed for seizure triggering material before posting.</p>
    <h2 class="display-6 text-center pb-3">Stay relevant</h2>
    <p class="fs-5 pb-4">As stated on our about page, this site aims to bring people with varying degrees of visual impairment and life experience together, to overcome
        barriers and solve problems. Therefore we kindly ask you to stay on topic, and post your un-described flying pig memes somewhere else.</p>
</div>