@model ProjectX.ViewModels.CreateDiscussionViewModel

@{
    ViewData["Title"] = "Create";
}
<script src="~/js/badwords.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        var filter = new Filter();
        $('#submit').prop('disabled', true);
        $('#title').on('input change', function() {
            if($('#category').val() == '') {
                return
            }
            if($('#content').val() == '' || filter.isProfane($('#content').val())) {
                return
            }
            if($(this).val() != '') {
                $('#submit').prop('disabled', false);
            }
            if($(this).val() == '' || filter.isProfane($(this).val())) {
                $('#submit').prop('disabled', true);
            }
        });
        $('#category').on('input change', function() {
            if($('#title').val() == '') {
                return
            }
            if($('#content').val() == '') {
                return
            }
            if($(this).val() != '') {
                $('#submit').prop('disabled', false);
            }
            if($(this).val() == '') {
                $('#submit').prop('disabled', true);
            }
        });
        $('#content').on('input change', function() {
            if($('#title').val() == '' || filter.isProfane($('#title').val())) {
                return
            }
            if($('#category').val() == '') {
                return
            }
            if($(this).val() != '') {
                $('#submit').prop('disabled', false);
            }
            if($(this).val() == '' || filter.isProfane($(this).val())) {
                $('#submit').prop('disabled', true);
            }
        });
    });
</script>
<h1>Create Discussion</h1>

<div class="row">
    <div class="col-md-9">
        <form asp-controller="Discussions" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Discussion.Title" class="control-label"></label>
                <input id="title" asp-for="Discussion.Title" class="form-control" />
                <span asp-validation-for="Discussion.Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Discussion.Category" class="control-label"></label>
                <br />
                <select id="category" class="w-100" asp-for="Discussion.Category"
                        asp-items="@Model.Categories">
                    <option></option>
                </select>
                <span asp-validation-for="Discussion.Category" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Discussion.Content" class="control-label"></label>
                <textarea id="content" asp-for="Discussion.Content" class="form-control" style="height: 12rem;"></textarea>
                <span asp-validation-for="Discussion.Content" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center form-group">
                <input type="submit" id="submit" value="Create" class="btn btn-primary px-6" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}